In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
dataset = pd.read_csv('0000000000002429_training_titanic_x_y_train.csv')
dataset.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [3]:
df = pd.read_csv('0000000000002429_training_titanic_x_y_train.csv')
df = df.drop(columns=['Name', 'Ticket'])

df['Sex'].replace('female', 0, inplace=True)
df['Sex'].replace('male', 1, inplace=True)
df['Embarked'].replace('S', 0, inplace=True)
df['Embarked'].replace('Q', 1, inplace=True)
df['Embarked'].replace('C', 2, inplace=True)
# Filling the NaN values
df['Age'].fillna(df['Age'].median() , inplace=True)
df['Embarked'].fillna(0, inplace=True)
df['Cabin'].fillna(0, inplace=True)

for i in range(len(df['Cabin'])):
    if df['Cabin'][i]!=0:
        df['Cabin'][i]=1

C:\Users\AUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [4]:
y_train = df['Survived'].values.reshape(-1,1)
x = df.drop(columns=['Survived'])
x_train = x.values
x_train.shape , y_train.shape

((668, 8), (668, 1))

In [6]:
from sklearn import tree
algo2 = tree.DecisionTreeClassifier()
algo2.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [8]:
from sklearn.ensemble import RandomForestClassifier
algo3 = RandomForestClassifier()
algo3.fit(x_train, y_train)

C:\Users\AUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [10]:
algo = LogisticRegression(C=5000.0)

In [11]:
algo.fit(x_train, y_train)

C:\Users\AUS\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\AUS\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=5000.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [15]:
algo.score(x_train, y_train) , algo2.score(x_train, y_train), algo3.score(x_train,y_train)

(0.7934131736526946, 0.9850299401197605, 0.9850299401197605)

In [16]:
df2 = pd.read_csv('0000000000002429_test_titanic_x_test.csv')
df2 = df2.drop(columns=['Name', 'Ticket'])
df2['Sex'].replace('female', 0, inplace=True)
df2['Sex'].replace('male', 1, inplace=True)
df2['Embarked'].replace('S', 0, inplace=True)
df2['Embarked'].replace('Q', 1, inplace=True)
df2['Embarked'].replace('C', 2, inplace=True)

df2['Age'].fillna(df2['Age'].median() , inplace=True)
df2['Embarked'].fillna(0, inplace=True)
df2['Cabin'].fillna(0, inplace=True)


for i in range(len(df2['Cabin'])):
    if df2['Cabin'][i]!=0:
        df2['Cabin'][i]=1

C:\Users\AUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [20]:
x_test = df2.values
x_test.shape

(223, 8)

In [23]:
y_test = algo.predict(x_test)
y_test_dtree = algo2.predict(x_test)
y_test_rand_forest = algo3.predict(x_test)

In [24]:
x_test.shape , y_test.shape

((223, 8), (223,))

In [29]:
algo.score(x_test, y_test) , algo2.score(x_test, y_test_dtree), algo3.score(x_test, y_test_rand_forest)

(1.0, 1.0, 1.0)

In [187]:
np.savetxt('p3.csv', y_test, fmt="%1.0f")

In [120]:
from sklearn.ensemble import RandomForestClassifier
algo4 = RandomForestClassifier(n_estimators = 100, max_depth = 8, random_state=0, criterion = 'gini'
                              , min_samples_split = 2, min_samples_leaf = 3, min_impurity_decrease=0.1 )
algo4.fit(x_train, y_train)

C:\Users\AUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=8, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.1, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [121]:
y_pred_4 = algo4.predict(x_test)

In [122]:
algo4.score(x_train,y_train)

0.5973053892215568

In [116]:
np.savetxt('p4.csv', y_pred_4, fmt="%1.0f")